<h1>Storage "<%= @storage.name %>"</h1>

<h2>Related halls</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>
<% @storage.halls.each do |hall| %>
  <tr><td><%= link_to hall.name, hall_path(hall.id) %></td></tr>
<% end %>
</table>